@import "~bootstrap/scss/bootstrap-utilities";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/tables";

.table-wrapper {
  overflow-x: auto;
  position: relative;
  height: 500px;
}

.table-main {
  border-collapse: collapse;

  th, td {
    border: 1px solid black;
    vertical-align: middle;
  }

  td {
    text-align: center;
    min-width: 30px;
    padding: 0 !important;

    &[contenteditable] {
      box-shadow: inset 0 0 4px 0 #cc1515;
      padding: 0.5rem !important;

      &:empty:not(:focus):before {
        content: "0";
        color: #b68b8b;
      }
    }
  }
}

.table-main:not(.table-sticky) {
  position: absolute;
  thead {
    visibility: hidden;
  }
}

.table-sticky {
  position: sticky;
  top: 0;
  pointer-events: none;

  thead {
    background: #fff;
  }
  tbody {
    visibility: hidden;
  }
}